title: Packet Too Big
# email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Fix the damn MTU !
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://packettoobig.net/" # the base hostname & protocol for your site, e.g. http://example.com
#twitter_username: jekyllrb
github_username:  packettoobig

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-remote-theme
  - jemoji

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
